.bg-black {
  background-color: var(--color-black);
}

.bg-blue {
  background-color: var(--color-blue);
}

.bg-cyan {
  background-color: var(--color-cyan);
}

.bg-dark {
  background-color: var(--color-dark);
}

.bg-green {
  background-color: var(--color-green);
}

.bg-grey {
  background-color: var(--color-grey);
}

.bg-light-grey {
  background-color: var(--color-light-grey);
}

.bg-purple {
  background-color: var(--color-purple);
}

.bg-red {
  background-color: var(--color-red);
}

.bg-yellow {
  background-color: var(--color-yellow);
}

.bg-white {
  background-color: var(--color-white);
}

.gradient {
  background-image: var(--gradient);
}