/* @import url("./components/styles.css"); */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-black);
}

.main {
    min-height: calc(100vh - var(--nav-menu-height));
}

.input-group .input-field {
    min-height: 3rem;
    background-color: var(--color-grey-alt);
    padding: .5rem 1rem;
    border-radius: .25rem;
    color: var(--color-black);
}

.input-group select.input-field option[selected] {
    background-color: var(--color-red);
    color: var(--color-white);
}

::selection {
    background-color: var(--color-red);
    color: var(--color-white);
}

.required {
    cursor: help;
}

/* ? MD */
@media (min-width: 768px) {
    /*  */
}

/* ? LG */
@media (min-width: 1024px) {
    /*  */
}

/* ? XL */
@media (min-width: 1200px) {
    /*  */
}

/* ? 2XL */
@media (min-width: 1536px) {
    /*  */
}

/* ? 3XL */
@media (min-width: 1920px) {
    /*  */
}