.fade-in {
    transform: translateX(25%);
    opacity: 0;
}

.fade-out {
    transform: translateX(-25%);
    opacity: 0;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--color-red);
	} 50% {
        box-shadow: 0 0 0 2px var(--color-red);
	} 100% {
        box-shadow: 0 0 0 0 var(--color-red);
	}
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    } 100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}