.bg-red {
    background-color: var(--color-red);
}

.bg-red-alt {
    background-color: var(--color-red-alt);
}

.bg-grey {
    background-color: var(--color-grey);
}

.bg-grey-alt {
    background-color: var(--color-grey-alt);
}

.bg-white {
    background-color: var(--color-white);
}

.bg-black {
    background-color: var(--color-black);
}