.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: var(--banner-height, 50vmin);
    isolation: isolate;
    overflow: hidden;
}

.banner.banner-title .banner-background {
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--banner-image, url("/img/resources/banner.jpg")) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    object-position: center;
}

.banner.banner-title .banner-background img {
    visibility: hidden;
}

.banner.banner-title .banner-body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--banner-padding, 1rem);
}

.banner.banner-title .banner-body .banner-header {
    flex-basis: 100%;
    font-size: 1.5rem;
    text-align: center;
}

/* ? MD */
@media(min-width: 768px) {
    /*  */
}

/* ? LG */
@media(min-width: 1024px) {
    .banner {
        --banner-height: calc(75vh - var(--nav-menu-height));
    }

    .banner.banner-title .banner-body {
        --banner-padding: 11rem;
    }

    .banner.banner-title .banner-body .banner-header {
        font-size: 3rem;
    }

    .banner.banner-title .banner-body .banner-main p {
        font-size: 1.5rem;
    }
}

/* ? XL */
@media(min-width: 1200px) {
    /*  */
}

/* ? 2XL */
@media(min-width: 1536px){
    /*  */
}

/* ? 3XL */
@media(min-width: 1920px){
    /*  */
}