.btn {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    min-width: 5rem;
    min-height: fit-content;
    border-radius: .25rem;
    font-size: .9rem;
    box-shadow: none;
    cursor: pointer;
    transition: 500ms;
}

/* ? Types */
.btn.btn-background {
    background-color: var(--bg-color, var(---color-red));
    color: var(--color, var(--color-white));
    font-weight: bold;
    transition: 500ms;
}
.btn.btn-background.active,
.btn.btn-background:hover {
    background-color: var(--bg-color-alt, var(--color-red-alt));
}

.btn.btn-icon {
    min-width: revert;
    background-color: transparent;
    border-radius: 100vh;
    color: var(--color-alt, var(--color-red));
    font-size: 1.2rem;
    transition: 500ms;
}
.btn.btn-icon.active,
.btn.btn-icon:hover {
    background-color: var(--bg-color, var(---color-red));
    color: var(--color, var(--color-white));
}

.btn.btn-icon-bg {
    min-width: revert;
    background-color: var(--bg-color, var(--color-red));
    border-radius: 100vh;
    color: var(--color, var(--color-white));
    font-size: 1.2rem;
    transition: 500ms;
}
.btn.btn-icon-bg.active,
.btn.btn-icon-bg:hover {
    background-color: var(--bg-color-alt, var(---color-red-alt));
    color: var(--color, var(--color-white));
}

.btn.btn-text {
    color: var(--bg-color, var(--color-red));
}
.btn.btn-text:hover {
    color: var(--bg-color-alt, var(--color-red-alt));
}

/* ? Colors */
.btn.btn-black {
    --bg-color: var(--color-black);
    --bg-color-alt: var(--color-grey);
    --color: var(--color-white);
    --color-alt: var(--color-black);
}

.btn.btn-grey {
    --bg-color: var(--color-grey);
    --bg-color-alt: var(--color-grey-alt);
    --color: var(--color-white);
    --color-alt: var(--color-grey);
}

.btn.btn-red {
    --bg-color: var(--color-red);
    --bg-color-alt: var(--color-red-alt);
    --color: var(--color-white);
    --color-alt: var(--color-red);
}