:root {
    --color-red: #C11B34;
    --color-red-alt: #DB0C19;
    --color-grey: #A39B99;
    --color-grey-alt: #CCC4BF;
    --color-white: #FAF4F0;
    --color-black: #1C1F22;
}

.color-red {
    color: var(--color-red);
}

.color-red-alt {
    color: var(--color-red-alt);
}

.color-grey {
    color: var(--color-grey);
}

.color-grey-alt {
    color: var(--color-grey-alt);
}

.color-white {
    color: var(--color-white);
}

.color-black {
    color: var(--color-black);
}