.filters {
    display: none;
    background-color: var(--color-red);
}

.filter-menu {
    display: flex;
}

.filter-menu li {
    display: flex;
}

.filter-paginator {
    flex-wrap: wrap;
}

.filter-paginator .filter-page {
    min-width: fit-content;
    padding: .25rem .75rem;
}

/* ? MD */
@media(min-width: 768px) {
    /**/
}

/* ? LG */
@media(min-width: 1024px) {
    .filters{
        display: block;
    }
}

/* ? XL */
@media(min-width: 1200px) {
    /**/
}