.floating-menu .floating-button.whatsapp{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
}

/* ? MD */
@media(min-width: 768px){
    /**/
}

/* ? LG */
@media(min-width: 1024px){
    /**/
}

/* ? XL */
@media(min-width: 1200px){
    /**/
}