.nav-menu {
    --nav-menu-button-color: var(--color-grey);
    --nav-menu-button-color-alt: var(--color-red);
    --nav-menu-image-height: 6rem;
}

.nav-menu .nav-row .sidebar-button {
    font-size: 1.2rem;
}

.nav-menu .nav-title h1 {
    font-size: 0;
}

/* ? MD */
@media(min-width: 768px) {
    /*  */
}

/* ? LG */
@media(min-width: 1024px) {
    .nav-menu .nav-row .sidebar-button {
        display: none;
    }

    .nav-menu .nav-title img {
        object-position: center;
    }
}

/* ? XL */
@media(min-width: 1200px) {
    .nav-menu {
        padding-inline: 8rem;
    }
}

/* ? 2XL */
@media(min-width: 1536px){
    /*  */
}

/* ? 3XL */
@media(min-width: 1920px){
    /*  */
}