.tab-menu {
    --tabmenu-title-color: #222;
    --tabmenu-button-color: var(--color-white);
    --tabmenu-button-color-alt: var(--color-white);
    --tabmenu-background-color: var(--color-red);
    --tabmenu-background-color-alt: var(--color-red-alt);
    --tabmenu-border-color: #ddd;
    --tabmenu-border-color-alt: #ddd;
    --tabmenu-icon-color: #ddd;
    --tabmenu-icon-color-alt: #ddd;
    --tabmenu-shadow-color: #32B1DA;
}

.tab-menu .tab-content {
    overflow: hidden;
}

.tab-menu .tabs .tab-menu-list .tab .tab-button {
    border-radius: 0;
}

.tab-menu .tabs .tab-header {
    display: block;
    background-color: var(--color-red);
    padding: 0;
}

.tab-menu .tabs .tab-footer .btn {
    min-width: 100%;
    margin: 0;
    min-height: var(--nav-menu-height);
}

a.waves-effect, a.waves-light {
    display: inline-flex;
}

/* ? MD */
@media (min-width: 768px) {
    .tab-menu {
        --tabmenu-title-color: #222;
        --tabmenu-button-color: var(--color-white);
        --tabmenu-button-color-alt: var(--color-white);
        --tabmenu-background-color: var(--color-red);
        --tabmenu-background-color-alt: var(--color-red-alt);
        --tabmenu-border-color: #ddd;
        --tabmenu-border-color-alt: #ddd;
        --tabmenu-icon-color: #ddd;
        --tabmenu-icon-color-alt: #ddd;
        --tabmenu-shadow-color: #32B1DA;
    }

    .tab-menu .tabs .tab-header {
        background-color: var(--tabmenu-background-color);
    }

    .tab-menu .tab-content h2{
        display: flex;
        align-items: flex-end;
        font-size: 1.75rem;
        padding: 0 15px;
    }

    .tab-menu.vertical,
    .tab-menu.vertical .tabs {
        min-height: 100vh;
    }
}

/* ? LG */
@media (min-width: 1024px) {
    .tab-menu.vertical .tabs {
        width: 15%;
    }
    
    .tab-menu.vertical .tab-content-list {
        width: 85%;
    }
}

/* ? XL */
@media (min-width: 1200px) {
    /**/
}