body {
    --invalid-color: var(--color-red);
}

.support-box {
    font-size: .8rem;
    color: var(--invalid-color);
    background-color: transparent;
    font-weight: 400;
}

/* ? MD */
@media(min-width: 768px){
    /**/
}

/* ? LG */
@media(min-width: 1024px){
    /**/
}

/* ? XL */
@media(min-width: 1200px){
    /**/
}