.favorites .location .title a {
    position: relative;
}

.favorites .location .title h3 {
    transition: 500ms;
    padding-left: 0;
}

.favorites .location .title a:hover h3 {
    padding-left: 5%;
}

.favorites .location .title i {
    position: absolute;
    left: -15%;
    opacity: 0;
    transition: 500ms;
    color: var(--color-red);
}

.favorites .location .title a:hover i {
    left: 0%;
    opacity: 1;
}

/* ? MD */
@media(min-width: 768px) {
    /*  */
}

/* ? LG */
@media(min-width: 1024px) {
    /*  */
}

/* ? XL */
@media(min-width: 1200px) {
    .favorites ul.locations li.location header.title {
        margin-inline: 8rem;
    }
}

/* ? 2XL */
@media(min-width: 1536px){
    /*  */
}

/* ? 3XL */
@media(min-width: 1920px){
    /*  */
}