.nav-menu {
    justify-content: center;
}

.nav-menu .nav-title {
    flex-basis: 100%;
}

.nav-menu .nav-title.logo img {
    object-position: center;
    height: 10rem;
}

.main > .row {
    justify-content: center;
}

label, input {
    flex-basis: 100%;
}

/* ? MD */
@media(min-width: 768px){
    .nav-menu .nav-title {
        padding: 5%;
    }

    .nav-menu .nav-title.logo img {
        object-position: center;
        height: 8rem;
    }
}

/* ? LG */
@media(min-width: 1024px){
    .nav-menu .nav-row {
        height: 8rem;
    }
}

/* ? XL */
@media(min-width: 1200px){
    /**/
}