#panel-tab-menu.tab-menu {
    --tab-menu-header-background-color: var(--color-red);
    --tab-menu-button-color: var(--color-white);
    --tab-menu-button-color-alt: var(--color-grey);
    --tab-menu-content-md-width: 100%;
}

#panel-sidebar.sidebar {
    --sidebar-background-color: var(--color-red);
    --sidebar-content-background-color: transparent;
    --sidebar-border-color: var(--color-grey);
    --sidebar-button-color-alt: var(--color-white);
}

#panel-tab-menu.tab-menu > .tab-header {
    display: flex;
    padding: 0 1rem;
}

#panel-tab-menu.tab-menu > .tab-header a.sidebar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 15%;
    color: var(--color-white);
    font-size: 1.2rem;
}

#panel-tab-menu.tab-menu > .tab-header a:not(.sidebar-button) {
    flex-basis: 70%;
}

#panel-tab-menu.tab-menu .tab-content-list li.tab-content .content-table.table {
    min-width: 100%;
    max-width: 100%;
    overflow-x: scroll;
}

#panel-tab-menu.tab-menu .tab-content-list li.tab-content .content-table > div {
    min-width: fit-content;
}

#panel-tab-menu.tab-menu .tab-content-list li.tab-content .content-table tr {
    min-width: 100%;
    min-height: 3rem;
}

#panel-tab-menu.tab-menu .tab-content-list li.tab-content .content-table tr :where(td, th) {
    display: flex;
    align-items: center;
    max-width: 15rem;
    min-width: 15rem;
}

#panel-tab-menu.tab-menu .tab-content-list li.tab-content .content-table tbody tr:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-grey-alt);
}

#panel-tab-menu.tab-menu .tab-content-list li.tab-content .content-table tr :where(td.updated_at, th.updated_at) {
    justify-content: center;
    max-width: 10rem;
    min-width: 10rem;
}

#panel-tab-menu.tab-menu .tab-content-list li.tab-content .content-table tr :where(td.id, td.actions, th.id, th.actions) {
    justify-content: center;
    max-width: 2rem;
    min-width: 2rem;
}

#panel-tab-menu.tab-menu .tab-content-list li.tab-content .content-table tr :where(td, th) p {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

#panel-sidebar.sidebar .sidebar-body .sidebar-content .sidebar-menu-list .sidebar-button {
    border: none;
}

.floating-menu .floating-button.round {
    height: auto;
    border-radius: 100vh;
    padding: 1rem;
    font-size: 2rem;
}

.support {
    padding: 0;
    background-color: transparent;
    color: var(--color-red);
}

/* ? MD */
@media (min-width: 768px) {
    #panel-tab-menu.tab-menu .tab-content-list li.tab-content .content-table tr :where(td, th, td.updated_at, th.updated_at, td.id, td.actions, th.id, th.actions) {
        max-width: revert;
        min-width: revert;
    }
}

/* ? LG */
@media (min-width: 1024px) {
    #panel-tab-menu.tab-menu > .tab-header {
        display: none;
    }

    #panel-tab-menu.tab-menu.vertical .tab-content-list {
        margin-left: 25%;
    }

    #panel-sidebar.sidebar.tabs .sidebar-body .sidebar-header {
        padding: 1rem 0;
    }
}

/* ? XL */
@media (min-width: 1200px) {
    /*  */
}

/* ? 2XL */
@media (min-width: 1536px) {
    /*  */
}

/* ? 3XL */
@media (min-width: 1920px) {
    /*  */
}