.banner {
    min-height: calc(100vh - var(--nav-menu-height));
}

.banner .banner-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.banner .banner-content p {
    flex-basis: 100%;
}

.banner .banner-content .btn {
    width: fit-content;
    font-size: .75rem;
}

.banner .banner-img {
    --background-img: url('/img/resources/thanks.jpg');
}

/* ? MD */
@media(min-width: 768px){
    /**/
}

/* ? LG */
@media(min-width: 1024px){
    /**/
}

/* ? XL */
@media(min-width: 1200px){
    /**/
}