.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main header{
    text-align: center;
}

.main main{
    text-align: center;
}

p{
    font-family: 'Work Sans';
    text-transform: uppercase;
}

.social-media ul{
    display: flex;
    margin-bottom: 0;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.social-media ul li{
    flex-basis: 100%;
}

.social-media a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-red-alt);
    transition: 500ms;
    font-weight: bold;
    font-family: 'Work Sans';
    font-size: 1rem;
    text-transform: uppercase;
}

.social-media a .initial{
    font-size: 1.5rem;
}

.social-media a:hover{
    color: var(--color-red);
}

.social-icon{
    font-size: 1.5rem;
    color: var(--color-grey-alt);
}

/* ? MD */
@media(min-width: 768px){
    .social-media ul li{
        flex-basis: initial;
    }
}

/* ? LG */
@media(min-width: 1024px){
    .main > .row{
        width: 50%;
    }
}

/* ? XL */
@media(min-width: 1200px){
    /**/
}