.main {
    min-height: initial;
}

.gallery .files .gallery-button:last-of-type {
    margin-bottom: 0 !important;
}

.gallery .gallery-menu-list {
    padding: 0 1rem;
    padding-bottom: 1rem;
}

.gallery .gallery-menu-list::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.gallery .gallery-menu-list::-webkit-scrollbar-button {
    width: 15%;
    height: 15%;
}

.gallery .gallery-menu-list::-webkit-scrollbar-thumb {
    background: var(--color-red);
    border-radius: 100vh;
}

.gallery .gallery-menu-list::-webkit-scrollbar-thumb:hover,
.gallery .gallery-menu-list::-webkit-scrollbar-thumb:active {
    background: var(--color-red-alt);
}

.gallery .gallery-menu-list::-webkit-scrollbar-track {
    background: var(--color-grey);
    border-radius: 100vh;
}

.gallery .gallery-menu-list::-webkit-scrollbar-track:hover,
.gallery .gallery-menu-list::-webkit-scrollbar-track:active {
    background: var(--color-grey-alt);
}

.gallery .gallery-menu-list::-webkit-scrollbar-corner {
    background: transparent;
}

/* ? MD */
@media (min-width: 768px) {
    .gallery .gallery-menu-list {
        overflow-x: hidden;
    }
    
    .gallery .gallery-menu-list ul .card:first-child,
    .gallery .gallery-menu-list ul .card:last-child {
        margin: 0;
    }
}

/* ? LG */
@media (min-width: 1024px) {
    .gallery.vertical .gallery-menu-list li {
        --gallery-image-height: 5rem;
    }
}

/* ? XL */
@media (min-width: 1200px) {
    #property.property {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .gallery .gallery-menu-list {
        padding: 0;
        padding-right: 1rem;
    }
}

/* ? 2XL */
@media (min-width: 1536px) {
    /*  */
}

/* ? 3XL */
@media (min-width: 1920px) {
    /*  */
}