#list .properties.cards {
    flex-wrap: wrap;
    overflow: hidden;
}

/* ? MD */
@media (min-width: 768px) {
    #list.main {
        padding: 1rem;
        padding-bottom: 0;
    }

    #list .properties.cards {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    #list .properties.cards :where(.card:first-child, .card:last-child) {
        margin-left: 0;
        margin-right: 0;
    }
}

/* ? LG */
@media (min-width: 1024px) {
    #list .properties.cards {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

/* ? XL */
@media (min-width: 1200px) {
    #list .properties.cards {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

/* ? 2XL */
@media(min-width: 1536px){
    /*  */
}

/* ? 3XL */
@media(min-width: 1920px){
    /*  */
}